@charset "UTF-8";
@import "../vars";

input[type="text"]{
  border: none;
  border-radius: 0px;
  -webkit-appearance: none;
  padding: 5px;
}
textarea {
  resize: none;
  max-width: 100%;
  width:100%;
}