@charset "UTF-8";
@import "../vars";

// p
.paragraph{
  +.paragraph{
    margin-top: halfMargin();
  }
}
.paragraph--small{
  @extend .paragraph;
  @include fz(12);
}
.captionText{
  @include fz(11);
  text-align: center;
}

// strong
.strong{
  font-weight: bold;
}
